<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dyqking.springcloud.dao.PaymentDao">

    <!--
    Payment selectById(@Param("id") Long id);
    int insertPayment(Payment payment);-->
    <resultMap id="PaymentResultMap" type="com.dyqking.springcloud.entities.Payment">
        <id column="id" property="id"></id>
        <result column="serial" property="serial"></result>
    </resultMap>
    <select id="selectById" resultMap="PaymentResultMap" parameterType="Long">
        select * from payment where id=#{id}
    </select>

    <insert id="insertPayment" parameterType="com.dyqking.springcloud.entities.Payment" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial) values("${serial}");
    </insert>



</mapper>